<%-include("./partials/header")%>
<div class="main container">
	<h1 class="title">HTML: Blog</h1>
		<div class=" page-container">
			<% blogs.forEach(function(blog, index, arr){%>
				<div class="post-container">
					<div>
						<div>
							<div class="post-title">
								<h2 ><%=blog.title%></h2>
							</div>
							<div class="post-image">
								<img src="<%=blog.image%>" alt="/">
							</div>
							<div>
								<p class="post-title-bottom"><%=blog.title%></p>
								<div class="date-container">
									Created:<span class="date"> <%=blog.created.toDateString()%></span>
								</div>
							</div>
							<div>
								<p class="post-body">
									<%if(blog.body){%>
										"<%-blog.body.substring(0, 100)%>..."
									<%}%>
								</p>
							</div>
							<div >
								<a class="btn" href="/blog/<%=blog._id%>">
									Read More
									<i class="right chevron icon"></i>
								</a>
							</div>
						</div>
					</div>
					<% if(index != arr.length -1){%>
						<hr class="horizontal-rule">
					<%}%>
				</div>
			<%});%>
		</div>
	</div>
<%-include("./partials/footer")%>