<%-include("partials/header")%>

	<div class="ui main text container segment">
		
		<h2 class="ui huge header"><%=blog.title%></h2>
		<div class="ui top attached">
			<div class="item">
				<img class="ui centered rounded image" src="<%=blog.image%>" alt="/">
			</div>
			<div class="content">
				<span class="createdDate">Created: <%=blog.created.toDateString()%></span>
			</div>
			<p id="blogBody"><%-blog.body%></p>
		</div>
		<a class="ui green inverted button" href="/blog">Back</a>
		<a class="ui blue inverted button"href="/blog/<%=blog._id%>/edit">EDIT</a>
		<form class="form-button" action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
			<button class="ui red inverted button">DELETE</button>
		</form>
	</div>


<%-include("partials/footer")%>